.card {
    position: relative;
}
.card img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: transparent;
}

/* Front of card */
.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
i {
    width: 60%;
    height: 55%;
    padding: 20px;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: transparent;
    font-size: 2em;
    text-align: center;
}
.text-wrapper {
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

/* Back of card */
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}